Backup_19-04-2026  07-44/Github Auto Save.json
{
  "updatedAt": "2026-04-19T11:44:24.839Z",
  "createdAt": "2026-04-14T12:33:49.452Z",
  "id": "1jPFz2iAEc29Dv4K",
  "name": "Github Auto Save",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 22
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1120,
        112
      ],
      "id": "e12feb19-0fc8-434a-b796-6c7de99680c5",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1136,
        336
      ],
      "id": "523b4f3b-4e99-40c1-8873-d8756707840e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -688,
        224
      ],
      "id": "9c41c47e-703f-40de-8891-3e805918bb35",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "XmfOlRGPkcDKyzut",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9088b91e-3585-4f81-af49-2cb5625391df",
              "name": "FolderName",
              "value": "=Backup_{{ $now.format('dd-MM-yyyy  hh-mm') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -912,
        224
      ],
      "id": "ed91fcbe-6a57-4307-81ce-eb8be54dc710",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -336,
        224
      ],
      "id": "84ec14f3-8737-4005-8b21-1277883dcd77",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8513f6de-c0b9-41c7-9234-e75da45a2252",
              "name": "nodes",
              "value": "={{ JSON.stringify($json, null, 2) }}",
              "type": "string"
            },
            {
              "id": "65b1e224-4642-411b-8ee0-3ed158fda247",
              "name": "fileName",
              "value": "={{ $json.name }}.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        224
      ],
      "id": "37a44426-73ce-4cca-8786-cdb68d386de8",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "nodes",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        112,
        224
      ],
      "id": "1f6980c5-27b9-4f10-af53-5ee221af0793",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "Ankit231ak",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "N8N",
          "mode": "list",
          "cachedResultName": "N8N",
          "cachedResultUrl": "https://github.com/Ankit231ak/N8N"
        },
        "filePath": "={{ $('Edit Fields').item.json.FolderName }}/{{ $('Edit Fields1').item.json.fileName }}",
        "binaryData": true,
        "commitMessage": "={{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd T') }} Backup completed"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        336,
        224
      ],
      "id": "e767a889-9065-407e-8ad2-44fb84b31dbe",
      "name": "Create a file",
      "webhookId": "465f5d00-277c-4e72-b5e6-72af6b854850",
      "credentials": {
        "githubApi": {
          "id": "B9rEYWIGD9KUKKo7",
          "name": "GitHub account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1TyEyY9ipnDI_ax3wX6oRkFhtwrL9SDLhvIS7ftuh_zg",
          "mode": "list",
          "cachedResultName": "Daily Backup N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TyEyY9ipnDI_ax3wX6oRkFhtwrL9SDLhvIS7ftuh_zg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TyEyY9ipnDI_ax3wX6oRkFhtwrL9SDLhvIS7ftuh_zg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DateTime": "={{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd T') }} ",
            "FolderName": "={{ $('Edit Fields').item.json.FolderName }}",
            "FileName": "={{ $('Edit Fields1').item.json.fileName }}",
            "Error": "={{ $json.error }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DateTime",
              "displayName": "DateTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FolderName",
              "displayName": "FolderName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FileName",
              "displayName": "FileName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error",
              "displayName": "Error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        640,
        304
      ],
      "id": "7d8ef654-cf76-42b6-aefa-320ae4dbdfb9",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XXR8NLsmO5F6p41P",
          "name": "Google Sheets account 9"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "Ankit231ak",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "N8N",
          "mode": "list",
          "cachedResultName": "N8N",
          "cachedResultUrl": "https://github.com/Ankit231ak/N8N"
        },
        "filePath": "={{ $('Edit Fields').item.json.FolderName }}/README.md",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -112,
        0
      ],
      "id": "a3a6a5de-ba2a-45dc-972a-5938a8f95446",
      "name": "Readme.md File",
      "webhookId": "48fed24d-3ddb-4d3e-9241-45cedbcce876",
      "credentials": {
        "githubApi": {
          "id": "B9rEYWIGD9KUKKo7",
          "name": "GitHub account 2"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Readme.md File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "7f5d94b4-8bda-4f0e-b09c-41f130262438",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-14T12:33:49.455Z",
      "createdAt": "2026-04-14T12:33:49.455Z",
      "role": "workflow:owner",
      "workflowId": "1jPFz2iAEc29Dv4K",
      "projectId": "R6zg1fYhgGLhVcby"
    }
  ],
  "activeVersion": null,
  "tags": []
}