Backup_08-04-2026  04-08/Github Auto Save.json
{
  "updatedAt": "2026-04-08T20:08:24.649Z",
  "createdAt": "2026-04-08T18:47:37.335Z",
  "id": "seSrMEte6aWSGwxd",
  "name": "Github Auto Save",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 22
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1024,
        -288
      ],
      "id": "2797338b-a45d-4ca1-92d4-f19aa2a56952",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1040,
        -80
      ],
      "id": "8dfda5f5-fb8e-4a8a-882e-ca665545a2d4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -592,
        -80
      ],
      "id": "fcc5982c-5507-4964-bcef-51322700e3db",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "8tOfcC0Ab3DRqSGE",
          "name": "n8n account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9088b91e-3585-4f81-af49-2cb5625391df",
              "name": "FolderName",
              "value": "=Backup_{{ $now.format('dd-MM-yyyy  hh-mm') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -816,
        -80
      ],
      "id": "7d1f54d6-562e-4432-a543-fe7ec18114cc",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -240,
        -80
      ],
      "id": "c0463c2a-b52a-4d8a-97d4-d45f19cdb2af",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8513f6de-c0b9-41c7-9234-e75da45a2252",
              "name": "nodes",
              "value": "={{ JSON.stringify($json, null, 2) }}",
              "type": "string"
            },
            {
              "id": "65b1e224-4642-411b-8ee0-3ed158fda247",
              "name": "fileName",
              "value": "={{ $json.name }}.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        -80
      ],
      "id": "d9b5021a-1372-4c68-8b0b-39826404a8d6",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "nodes",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        208,
        -80
      ],
      "id": "2c70f3b6-0f03-4b7d-955c-921f4a340bcf",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "Ankit231ak",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "N8N",
          "mode": "list",
          "cachedResultName": "N8N",
          "cachedResultUrl": "https://github.com/Ankit231ak/N8N"
        },
        "filePath": "={{ $('Edit Fields').item.json.FolderName }}/{{ $('Edit Fields1').item.json.fileName }}",
        "binaryData": true,
        "commitMessage": "={{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd T') }} Backup completed"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        432,
        -80
      ],
      "id": "fb6efd7b-223a-4355-86b9-27d6289cec1e",
      "name": "Create a file",
      "webhookId": "465f5d00-277c-4e72-b5e6-72af6b854850",
      "credentials": {
        "githubApi": {
          "id": "AMKynkVcyGrXWXUQ",
          "name": "GitHub account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1TyEyY9ipnDI_ax3wX6oRkFhtwrL9SDLhvIS7ftuh_zg",
          "mode": "list",
          "cachedResultName": "Daily Backup N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TyEyY9ipnDI_ax3wX6oRkFhtwrL9SDLhvIS7ftuh_zg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TyEyY9ipnDI_ax3wX6oRkFhtwrL9SDLhvIS7ftuh_zg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DateTime": "={{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd T') }} ",
            "FolderName": "={{ $('Edit Fields').item.json.FolderName }}",
            "FileName": "={{ $('Edit Fields1').item.json.fileName }}",
            "Error": "={{ $json.error }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DateTime",
              "displayName": "DateTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FolderName",
              "displayName": "FolderName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FileName",
              "displayName": "FileName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error",
              "displayName": "Error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        736,
        0
      ],
      "id": "e2e4e3f8-5128-4407-9df5-30d3c1247990",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KixvTkzBFv4rIdJh",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "Ankit231ak",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "N8N",
          "mode": "list",
          "cachedResultName": "N8N",
          "cachedResultUrl": "https://github.com/Ankit231ak/N8N"
        },
        "filePath": "={{ $('Edit Fields').item.json.FolderName }}/README.md",
        "fileContent": "=# N8N Workflow Backup - {{ $('Edit Fields').item.json.FolderName }}\n\nThis folder contains the backup of all N8N workflows as of **{{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd') }}**\n\n## Backup Details\n\n* **Backup Time:** {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd HH:mm:ss') }}\n* **Total workflows:** {{ $('Get many workflows').all().length }}\n\n## Files\n\nEach workflow is saved as a separate JSON file.\n\n---\n\n*Automatically generated by N8N Backup Workflow*\n",
        "commitMessage": "={{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd T') }} Backup completed"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -16,
        -304
      ],
      "id": "f8a59af3-6a41-42a6-81bd-aad10a2007af",
      "name": "Create a file1",
      "webhookId": "48fed24d-3ddb-4d3e-9241-45cedbcce876",
      "credentials": {
        "githubApi": {
          "id": "AMKynkVcyGrXWXUQ",
          "name": "GitHub account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Create a file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "8b85ff6e-e55d-475f-9ba4-c17056dcd3a3",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-08T18:47:37.338Z",
      "createdAt": "2026-04-08T18:47:37.338Z",
      "role": "workflow:owner",
      "workflowId": "seSrMEte6aWSGwxd",
      "projectId": "fR7AJa47JcI8VwGG"
    }
  ],
  "activeVersion": null,
  "tags": []
}