Backup_2026-04-09  02:27/Github Auto Save.json
{
  "updatedAt": "2026-04-08T20:57:42.508Z",
  "createdAt": "2026-04-08T20:46:38.715Z",
  "id": "1RfEuDbPVonwq2ph",
  "name": "Github Auto Save",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 22
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1376,
        64
      ],
      "id": "0c7982aa-d50f-4126-ac6b-17dbfc3f5eab",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1392,
        320
      ],
      "id": "add9f5a8-1e4b-4e16-b907-a7374c9b70d3",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -944,
        208
      ],
      "id": "5c2ade22-7e7a-4225-874b-b74672d32a3f",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "AigKjJtyyQhxnVlj",
          "name": "n8n account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9088b91e-3585-4f81-af49-2cb5625391df",
              "name": "FolderName",
              "value": "=Backup_{{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd  T') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1168,
        208
      ],
      "id": "811fa186-8213-46cb-8868-8b905abf9ae6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -592,
        208
      ],
      "id": "67a76535-98a7-4bc7-94fa-74b78a32e2ca",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8513f6de-c0b9-41c7-9234-e75da45a2252",
              "name": "nodes",
              "value": "={{ JSON.stringify($json, null, 2) }}",
              "type": "string"
            },
            {
              "id": "65b1e224-4642-411b-8ee0-3ed158fda247",
              "name": "fileName",
              "value": "={{ $json.name }}.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        208
      ],
      "id": "0384b1f5-059f-40e1-a1e9-99d8731073e9",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "nodes",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -144,
        208
      ],
      "id": "2eb708a3-c624-4978-9d77-70a7962d9d55",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "Ankit231ak",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "N8N",
          "mode": "list",
          "cachedResultName": "N8N",
          "cachedResultUrl": "https://github.com/Ankit231ak/N8N"
        },
        "filePath": "={{ $('Edit Fields').item.json.FolderName }}/{{ $('Edit Fields1').item.json.fileName }}",
        "binaryData": true,
        "commitMessage": "={{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd T') }} Backup completed"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        80,
        208
      ],
      "id": "99623fd1-d262-49b4-8adc-f36cbc1f156e",
      "name": "Create a file",
      "webhookId": "465f5d00-277c-4e72-b5e6-72af6b854850",
      "credentials": {
        "githubApi": {
          "id": "5CwFCtt58TW5JDQu",
          "name": "GitHub account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1TyEyY9ipnDI_ax3wX6oRkFhtwrL9SDLhvIS7ftuh_zg",
          "mode": "list",
          "cachedResultName": "Daily Backup N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TyEyY9ipnDI_ax3wX6oRkFhtwrL9SDLhvIS7ftuh_zg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TyEyY9ipnDI_ax3wX6oRkFhtwrL9SDLhvIS7ftuh_zg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DateTime": "={{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd T') }} ",
            "FolderName": "={{ $('Edit Fields').item.json.FolderName }}",
            "FileName": "={{ $('Edit Fields1').item.json.fileName }}",
            "Error": "={{ $json.error }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DateTime",
              "displayName": "DateTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FolderName",
              "displayName": "FolderName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FileName",
              "displayName": "FileName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error",
              "displayName": "Error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        384,
        288
      ],
      "id": "bb3abc3b-a55e-441c-a55e-9a8c908d49b8",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "i1pTEl3LGyrJDBI6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "Ankit231ak",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "N8N",
          "mode": "list",
          "cachedResultName": "N8N",
          "cachedResultUrl": "https://github.com/Ankit231ak/N8N"
        },
        "filePath": "={{ $('Edit Fields').item.json.FolderName }}/README.md",
        "fileContent": "=# N8N Workflow Backup - {{ $('Edit Fields').item.json.FolderName }}\n\nThis folder contains the backup of all N8N workflows as of **{{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd') }}**\n\n## Backup Details\n\n* **Backup Time:** {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd HH:mm:ss') }}\n* **Total workflows:** {{ $('Get many workflows').all().length }}\n\n## Files\n\nEach workflow is saved as a separate JSON file.\n\n---\n\n*Automatically generated by N8N Backup Workflow*\n",
        "commitMessage": "={{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd T') }} Backup completed"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -368,
        -16
      ],
      "id": "c1a9121c-12c2-4258-b953-7c99a9c5d008",
      "name": "Create a file1",
      "webhookId": "48fed24d-3ddb-4d3e-9241-45cedbcce876",
      "credentials": {
        "githubApi": {
          "id": "5CwFCtt58TW5JDQu",
          "name": "GitHub account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Create a file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d8b7e409-e22d-49cb-b771-06a29b59c4ab",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-08T20:46:38.721Z",
      "createdAt": "2026-04-08T20:46:38.721Z",
      "role": "workflow:owner",
      "workflowId": "1RfEuDbPVonwq2ph",
      "projectId": "C8SDxxJamhNmswRu"
    }
  ],
  "activeVersion": null,
  "tags": []
}